.panel-body.inundate-panel {
    color: white;
    height: 250px;
}

.panel-body.inundate-panel .icon{
    display: flex;
    flex-direction: column;
    cursor: hand;
}

.extra-panel-body{
    border-top: 1px solid #DCDFE6;
    color: white;
    width: 300px;
    padding: 5px;
}

.extra-panel-body .header {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}